.skeleton-card{
    transition: all 200ms ease-in-out;
}
    
@keyframes load {
    100% {
        transform: translateX(100%);
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .skeleton-card::after {
        animation: none;
    }
}