<ng-container *ngIf="pokemons$ | async as cache">
    <main class="flex flex-wrap p-2" (scroll)="handleInfiniteScroll">
        <app-card *ngFor="let pokemon of cache">
            <app-pokemon-detail 
                [pokemon]="pokemon"
            ></app-pokemon-detail>
        </app-card>
            <app-card>
                <div class="skeleton-card h-40 w-40"></div>
            </app-card>
            <app-card>
                <div class="skeleton-card h-40 w-40"></div>
            </app-card>
    </main>
</ng-container>