<ng-container *ngIf="pokemon">
    <section 
        class="flex flex-col h-full w-full justify-center items-center active:bg-slate-300 hover:-translate-y-1 duration-100 ease-in-out hover:-translate-x-1 rounded bg-slate-100 hover:bg-slate-200 hover:cursor-pointer"
        (click)="handleOpenDialog(pokemon)"
    >       
        <img class="h-5/6 w-4/6" [src]="pokemon.sprite" [alt]="pokemon.name"/>  
        <h2 class="text-lg capitalize text-center">{{pokemon.name}}</h2>       
    </section>
</ng-container>
<!-- @TODO Routing verwenden -->
<app-dialog [pokemon]="pokemon" [open]="open" [onClose]="handleCloseDialog"></app-dialog>
